@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display+SC&family=Sriracha&display=swap');


body {
  margin: 10px;
  font-family: 'Fjalla One', sans-serif;
  background-color: #024249;
  color: #f6f577;
}

.logo {
  font-family: 'Sriracha', cursive;
  text-align: center;
  padding: 10px 0 0 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #f6f577;
  padding: 10px;
  font-family: 'Playfair Display SC', serif;
}

header nav ul li a:hover {
  color: #79d70f;
}

@media (min-width: 700px){
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-size: 48px;
  }
}

/* added psuedoclass */
main a:link{color: #00adb5;}
main a:visited{color: #32e0c4;}
main a:hover{color: #79d70f;}
main a:active{color: #17706e;}


form {
  padding-right: 10px;
}

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 150px;
}

main img{
  width: 50%
}

.group {
  display: flex;
  flex-direction: row;
}

.item{
  flex: 1;
}

.item-double {
  flex: 2;
}

@media (max-width: 700px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: column;
  }
  .logo {
    font-size: 32px;
  }
}
