@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rock+Salt&display=swap');

header {
  color: #f6f578;
  background: #024249;
}

h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 45px;
  padding-top: 25px;
}
.group{
  display: flex;
  flex-direction: row;

}

img {
  height: 200px;
  width: 200px;
}

h2{
  vertical-align: bottom;
}

a {
  margin-right: 45px;
}
/* added psuedoclass */
a:link{
  color: #ff1e56;
}
a:visited{
  color: #32e0c4;
}

a:hover{
    color: #79d70f;
}

a:active{
  color: #
}

ul {
  list-style-type: circle;
  margin: 10px;
}
